span{padding:5px;margin:20px;border: 1px solid #9E9E9E;float: left;}
#d001:before {
	content: '\21E0';
}
#d002:before {
	content: '\21E1';
}
#d003:before {
	content: '\21E2';
}
#d004:before {
	content: '\21E3';
}
#d005:before {
	content: '\219E';
}
#d006:before {
	content: '\219F';
}
#d007:before {
	content: '\21A0';
}
#d008:before {
	content: '\21A1';
}
#d009:before {
	content: '\2190';
}
#d0010:before {
	content: '\2191';
}
#d0011:before {
	content: '\2192';
}
#d0012:before {
	content: '\2193';
}
#d0013:before {
	content: '\2194';
}
#d0014:before {
	content: '\2195';
}
#d0015:before {
	content: '\2196';
}
#d0016:before {
	content: '\2197';
}
#d0017:before {
	content: '\2198';
}
#d0018:before {
	content: '\2199';
}
#d0019:before {
	content: '\219A';
}
#d0020:before {
	content: '\219B';
}
#d0021:before {
	content: '\219C';
}
#d0022:before {
	content: '\219D';
}
#d0023:before {
	content: '\219E';
}
#d0024:before {
	content: '\219F';
}
#d0025:before {
	content: '\21A0';
}




